USE [master]
GO
/****** Object:  Database [Abrigo]    Script Date: 05/08/2026 13:11:10 ******/
CREATE DATABASE [Abrigo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Abrigo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Abrigo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Abrigo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Abrigo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Abrigo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Abrigo]
GO
/****** Object:  Table [dbo].[Adocao]    Script Date: 05/08/2026 13:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adocao](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Animal] [int] NOT NULL,
	[ID_Pessoa] [int] NOT NULL,
	[Atividade] [varchar](50) NOT NULL,
	[Data] [date] NOT NULL,
	[Descricao] [varchar](300) NULL,
 CONSTRAINT [PK_Adocao_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adotante]    Script Date: 05/08/2026 13:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adotante](
	[ID_Pessoa] [int] NOT NULL,
	[BI] [varchar](20) NOT NULL,
	[Profissao] [varchar](100) NOT NULL,
	[ID_Habitacao] [int] NOT NULL,
	[Espaco_Esterior] [bit] NOT NULL,
	[Habitacao_Arrendada] [bit] NOT NULL,
	[Autorizacao_Senhorio] [bit] NOT NULL,
	[N_Agregados] [tinyint] NOT NULL,
	[Criancas] [bit] NOT NULL,
	[Outros_Animais] [bit] NOT NULL,
	[Horas_sozinho_dia] [tinyint] NOT NULL,
	[Experiencia_Previa] [bit] NOT NULL,
	[Motivo_Adocao] [varchar](500) NOT NULL,
	[Aceita_Acompanhamento] [bit] NOT NULL,
	[Estado_Candidatura] [varchar](20) NOT NULL,
	[Data_Candidatura] [date] NOT NULL,
	[Motivo_Recusa] [varchar](300) NULL,
 CONSTRAINT [PK_Adotante] PRIMARY KEY CLUSTERED 
(
	[ID_Pessoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Animais]    Script Date: 05/08/2026 13:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animais](
	[ID_Animal] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](20) NULL,
	[Especie] [varchar](20) NOT NULL,
	[Genero] [varchar](10) NOT NULL,
	[Porte] [varchar](10) NOT NULL,
	[Peso] [decimal](4, 2) NULL,
	[Idade] [varchar](10) NULL,
	[Condicoes_Especiais] [bit] NOT NULL,
	[Esteril] [bit] NULL,
	[Numero_Chip] [int] NULL,
	[Data_Entrada] [date] NOT NULL,
	[Foto] [image] NULL,
	[Descricao] [varchar](500) NULL,
	[Obs] [varchar](500) NULL,
 CONSTRAINT [PK_Animais] PRIMARY KEY CLUSTERED 
(
	[ID_Animal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Atividades]    Script Date: 05/08/2026 13:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atividades](
	[ID_Atividade] [int] IDENTITY(1,1) NOT NULL,
	[ID_Animal] [int] NOT NULL,
	[ID_Pessoa] [int] NOT NULL,
	[ID_Funcao] [int] NOT NULL,
	[Data] [date] NOT NULL,
	[Duracao_min] [tinyint] NULL,
	[Obs:] [varchar](500) NULL,
 CONSTRAINT [PK_Adocao] PRIMARY KEY CLUSTERED 
(
	[ID_Atividade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consumiveis]    Script Date: 05/08/2026 13:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consumiveis](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Especie_Animal] [varchar](20) NULL,
	[Tamanho] [varchar](20) NULL,
	[Categoria] [varchar](50) NULL,
	[Quantidade] [varchar](20) NOT NULL,
	[Data_Validade] [date] NULL,
	[Obs] [varchar](200) NULL,
 CONSTRAINT [PK_Consumiveis] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcoes]    Script Date: 05/08/2026 13:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcoes](
	[ID_Funcao] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Funcoes] PRIMARY KEY CLUSTERED 
(
	[ID_Funcao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoas]    Script Date: 05/08/2026 13:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoas](
	[ID_Pessoas] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Data_Nascimento] [date] NOT NULL,
	[Morada] [varchar](50) NULL,
	[Telemovel] [int] NOT NULL,
	[Email] [varchar](50) NULL,
	[Obs:] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[ID_Pessoas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilizadores]    Script Date: 05/08/2026 13:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilizadores](
	[Utilizador] [varchar](30) NOT NULL,
	[Password] [varchar](30) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Utilizadores_1] PRIMARY KEY CLUSTERED 
(
	[Utilizador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voluntarios]    Script Date: 05/08/2026 13:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voluntarios](
	[ID_Pessoa] [int] NOT NULL,
	[Data_Inicio] [date] NOT NULL,
	[Data_Fim] [date] NULL,
	[Ativo] [bit] NOT NULL,
	[ID_Funcao] [int] NOT NULL,
	[Carta_Conducao] [bit] NOT NULL,
	[Viatura] [bit] NOT NULL,
	[Contacto_Emergencia_Nome] [varchar](30) NOT NULL,
	[Contacto_Emergencia_Telemovel] [int] NOT NULL,
	[Autorizacao_Encarregado] [bit] NOT NULL,
 CONSTRAINT [PK_Voluntarios] PRIMARY KEY CLUSTERED 
(
	[ID_Pessoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Password]    Script Date: 05/08/2026 13:11:11 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Password] ON [dbo].[Utilizadores]
(
	[Password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Utilizadores]    Script Date: 05/08/2026 13:11:11 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Utilizadores] ON [dbo].[Utilizadores]
(
	[Utilizador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adocao]  WITH CHECK ADD  CONSTRAINT [FK_Adocao_Adotante] FOREIGN KEY([ID_Pessoa])
REFERENCES [dbo].[Adotante] ([ID_Pessoa])
GO
ALTER TABLE [dbo].[Adocao] CHECK CONSTRAINT [FK_Adocao_Adotante]
GO
ALTER TABLE [dbo].[Adocao]  WITH CHECK ADD  CONSTRAINT [FK_Adocao_Animais] FOREIGN KEY([ID_Animal])
REFERENCES [dbo].[Animais] ([ID_Animal])
GO
ALTER TABLE [dbo].[Adocao] CHECK CONSTRAINT [FK_Adocao_Animais]
GO
ALTER TABLE [dbo].[Adotante]  WITH CHECK ADD  CONSTRAINT [FK_Adotante_Pessoas] FOREIGN KEY([ID_Pessoa])
REFERENCES [dbo].[Pessoas] ([ID_Pessoas])
GO
ALTER TABLE [dbo].[Adotante] CHECK CONSTRAINT [FK_Adotante_Pessoas]
GO
ALTER TABLE [dbo].[Atividades]  WITH CHECK ADD  CONSTRAINT [FK_Atividades_Animais1] FOREIGN KEY([ID_Animal])
REFERENCES [dbo].[Animais] ([ID_Animal])
GO
ALTER TABLE [dbo].[Atividades] CHECK CONSTRAINT [FK_Atividades_Animais1]
GO
ALTER TABLE [dbo].[Atividades]  WITH CHECK ADD  CONSTRAINT [FK_Atividades_Funcoes] FOREIGN KEY([ID_Funcao])
REFERENCES [dbo].[Funcoes] ([ID_Funcao])
GO
ALTER TABLE [dbo].[Atividades] CHECK CONSTRAINT [FK_Atividades_Funcoes]
GO
ALTER TABLE [dbo].[Atividades]  WITH CHECK ADD  CONSTRAINT [FK_Atividades_Voluntarios] FOREIGN KEY([ID_Pessoa])
REFERENCES [dbo].[Voluntarios] ([ID_Pessoa])
GO
ALTER TABLE [dbo].[Atividades] CHECK CONSTRAINT [FK_Atividades_Voluntarios]
GO
ALTER TABLE [dbo].[Voluntarios]  WITH CHECK ADD  CONSTRAINT [FK_Voluntarios_Funcoes] FOREIGN KEY([ID_Funcao])
REFERENCES [dbo].[Funcoes] ([ID_Funcao])
GO
ALTER TABLE [dbo].[Voluntarios] CHECK CONSTRAINT [FK_Voluntarios_Funcoes]
GO
ALTER TABLE [dbo].[Voluntarios]  WITH CHECK ADD  CONSTRAINT [FK_Voluntarios_Pessoas] FOREIGN KEY([ID_Pessoa])
REFERENCES [dbo].[Pessoas] ([ID_Pessoas])
GO
ALTER TABLE [dbo].[Voluntarios] CHECK CONSTRAINT [FK_Voluntarios_Pessoas]
GO
USE [master]
GO
